<html>
<head>
    <meta charset='utf-8'>
    <script src="/javascripts/browserMqtt.js" charset="utf-8"></script>
</head>
<body>
<p>Welcome to IM</p>
<input class="submit" type="submit" value="close" name="btnclose" onclick="closeClient();" />
<br/>
<textarea name="chattext"  rows="20" cols="40" readonly="true"></textarea>
<br/>

username:<input type="text" name="username"  value="<%= username %>" disabled="true">

<br>
msg by client:<input type="text" name="contentByClient" onkeypress="if(event.keyCode==13) {btn.click();return false;}">
<input class="submit" type="submit" value="submit" name="btn" onclick="sendMsg();" />



<script>

    var settings={}
    var client_Id = 'user_' + Math.random().toString(16).substr(2, 8);
    settings = {
        keepalive: 10,
        protocolId: 'websocket',
//        protocolVersion: 3,
        clientId: 'username',
//        clientId: client_Id,
        username: "alice",
        password: "secret",
        clean: false
    }


    settings.clientId =  document.getElementsByName("username")[0].value;
    var client = mqtt.connect('ws://127.0.0.1:5000', settings); // you add a ws:// url here
//        client = mqtt.connect('ws://acnlp.com:5000', settings);
    var ct = document.getElementsByName("chattext")[0];


    client.subscribe("presence", {qos: 1});
//    client.on('connect', function () {
//        client.subscribe("presence",{qos:1}); //qos  offline msg
//    });


    client.on('error', function (err) {
        console.log(err);
//        client.end();
    });

    client.on("message", function (topic, payload) {
        var pl = JSON.parse(payload)
        if (pl.userid == settings.clientId)
            ct.value = ct.value + "\r\n" + "我:" + pl.content;
        else
            ct.value = ct.value + "\r\n" + pl.userid + ":" + pl.content;
    });

//    client.on('close', function () {
////        alert(settings.clientId + " disconected")
//        console.log(settings.clientId + " disconected");
//    });


    function sendMsg() {
//        client_Id+":"+contentbyclient.value
        var contentbyclient = document.getElementsByName("contentByClient")[0];
//        var un = document.getElementsByName("username")[0];
        var date = new Date();
        var options = {
            month: "short",
            day: "numeric", hour: "2-digit", minute: "2-digit"
        };
        date = date.toLocaleTimeString("zh-cn", options)
//        date = date.toISOString("zh-cn", options)
        var pl = {"userid": settings.clientId, "content": contentbyclient.value + '   ' + date};
        pl = JSON.stringify(pl)
        client.publish("presence", pl, {qos: 1});

    }

    function closeClient()
    {
        client.end();
    }

</script>
</body>
</html>