body {
  padding: 10px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.bigfont {
  height: 36px;
  /*width: 120px;*/
}

input {FONT-SIZE: 20px;   FONT-FAMILY:"ו","Verdana";}

button {height: 180px;}

TEXTAREA {FONT-SIZE: 16px; FONT-FAMILY: "ו","Tahoma"}

label {FONT-SIZE: 18px;   FONT-FAMILY:"ו","Verdana";}

