body {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.bigfont {
  height: 36px;
  /*width: 120px;*/
}

input {FONT-SIZE: 30px;   FONT-FAMILY:"ו","Verdana";}

TEXTAREA {FONT-SIZE: 30px; FONT-FAMILY: "ו","Tahoma"}

label {FONT-SIZE: 30px;   FONT-FAMILY:"ו","Verdana";}

